<div class="navbar-wrapper admin-nav">

    <ul class="nav-justified custom-nav center-block list-unstyled">
        <li role="presentation">
            <a class="nav-tab" ng-href="/adminhome" href="#">
                <h5><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</h5>
            </a>
        </li>

        <li role="presentation">
            <a class="nav-tab" ng-href="/addemployee" href="#">
                <h5><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Employee</h5></a>
        </li>

        <li role="presentation">
            <a class="nav-tab" ng-href="/adddeposit" href="#">
                <h5><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Add Deposit Entry</h5>
            </a>
        </li>

        <li role="presentation">
            <a class="nav-tab" data-toggle="modal" data-target="#logoutModal" href="#">
                <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</h5>
            </a>
        </li>

    </ul>

</div>

<div ng-include="'views/account/logout.html'"></div>